<div class="container">
  <div class="profile">
    <img src="<%= @psychologist.photo_url %>" alt="">
    <div>
      <h1><%= @psychologist.first_name %> <%= @psychologist.flast_name %></h1>
      <a href="" class="btn btn-primary"><%= @psychologist.specialty %></a>
      <a href="" class="btn btn-primary"><%= @psychologist.modality %></a>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita ut fuga dolores, quaerat repellat eius rem assumenda modi dolore dolorum alias, vero minima voluptatibus voluptate illum eveniet laboriosam, enim dolorem reiciendis voluptatum aliquid et reprehenderit nostrum est? Veniam suscipit quas molestiae perferendis debitis dolore ipsam. Iure dolorem cumque error quod.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorem aspernatur earum, ipsa qui incidunt. Similique natus voluptates sapiente voluptate voluptatibus consequuntur eaque eos maxime eveniet. Iusto enim fuga dicta repudiandae delectus possimus, fugiat itaque quas autem nostrum ducimus unde quod dignissimos est, expedita cupiditate? Sed, ad recusandae voluptate dolores reprehenderit at magni iste voluptas libero illum possimus placeat eos ullam et quia ex eligendi inventore aliquid molestias voluptatibus velit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa suscipit fugiat neque! Earum repellat sapiente voluptatem aut eius labore eum, quis laudantium aliquid maiores quo esse! Exercitationem doloremque laboriosam placeat praesentium vitae assumenda a natus voluptates repudiandae, quos, quae minus, fuga sed reprehenderit? Quis nobis, dolor sed vero voluptas vitae.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse placeat corporis laborum optio dolores aperiam quae pariatur quam deleniti, odit officiis harum accusantium. Sequi quasi reiciendis atque illo consectetur necessitatibus.
      </p>
    </div>
  </div>
  <a href="/psicologos">volver</a>
</div>
